[defaults]
roles_path            = ./roles/
collections_paths     = ./collections:~/.ansible/collections:/usr/share/ansible/collections
inventory             = ./inventory/reference/example.yml
gathering             = explicit
host_key_checking     = false
display_skipped_hosts = true
retry_files_enabled   = false
callbacks_enabled     = profile_tasks
stdout_callback       = yaml
timeout               = 60

[privilege_escalation]
become      = true
become_user = root

[ssh_connection]
pipelining = true
ssh_args   = -q -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=30 -o ServerAliveCountMax=6
