# Template for the test network
NAME        = "{{ validation.test_vm.vnet_name }}"
DESCRIPTION = "{{ validation.test_vm.vnet.desc }}"

VN_MAD = {{ validation.test_vm.vnet.vn_mad }}

{% if validation.test_vm.vnet.bridge is not none %}
BRIDGE = {{ validation.test_vm.vnet.bridge | d('br-test') }}
{% endif %}

{% if validation.test_vm.vnet.phydev is not none %}
PHYDEV = {{ validation.test_vm.vnet.phydev }}
{% endif %}

NETWORK_ADDRESS = {{ validation.test_vm.vnet.network_address | d('10.0.0.0') }}
NETWORK_MASK    = {{ validation.test_vm.vnet.network_mask | d('255.255.255.0') }}
DNS             = {{ validation.test_vm.vnet.dns | d('8.8.8.8') }}
GATEWAY         = {{ validation.test_vm.vnet.gateway | d('10.0.0.1') }}

{% for r in validation.test_vm.vnet.ar %}
AR=[TYPE="{{ r.type }}", IP="{{ r.ip }}", SIZE="{{ r.size }}"]
{% endfor %}

