---
- name: Delete test VM
  ansible.builtin.shell: |
    onevm terminate --hard {{vm_id.stdout.split(':')[1]}}
  register: cleanup_result
  failed_when: "cleanup_result.rc != 0"

- name: Wait until the test VM is deleted
  ansible.builtin.shell: >
    onevm show -j {{vm_id.stdout.split(':')[1]}} | jq -r .VM.STATE  
  register: vm_state_result
  until: vm_state_result.stdout is search('6')
  retries: 10
  delay: 10

# Delete test network only when it was created by us
- name: Cleanup created test network
  ansible.builtin.shell: |
    onevnet delete "{{ validation.test_vm.vnet_name }}"
  register: cleanup_result
  failed_when: "cleanup_result.rc != 0"
  when: validation.test_vm.create_vnet and not validation.test_vm.vm.check_connection
