---
- name: Get existing vnets
  ansible.builtin.shell:
    cmd: "onevnet list -j"
  become: true
  become_user: oneadmin
  register: exec_onevnet_list_json

- name: Set full resource facts
  ansible.builtin.set_fact:
    vnet_names: "{{ exec_onevnet_list_json.stdout | from_json | ansible.builtin.json_query(_q_vnet_names) }}"
  vars:
    _q_vnet_names: 'VNET_POOL.VNET[*].NAME'

- name: Create vnet
  when: validation.test_vm.create_vnet
  block:
    - name: Render vnet config
      template:
        src: test_vnet.j2
        dest: /var/tmp/vnet_{{ validation.test_vm.vnet_name }}.template

    - name: Verify connection to the VNET default gateway
      ansible.builtin.shell: >
        ping -c 1 {{ validation.test_vm.vnet.gateway }}
      register: gw_ping_result
      until: gw_ping_result.rc == 0
      retries: 3
      delay: 10
      when: validation.test_vm.vm.check_connection

    - name: Update network
      ansible.builtin.shell: >
        cat /var/tmp/vnet_{{ validation.test_vm.vnet_name }}.template | onevnet update {{ validation.test_vm.vnet_name }}
      register: test_network
      failed_when: "test_network.rc != 0"
      when: validation.test_vm.vnet_name in vnet_names

    - name: Create network
      ansible.builtin.shell: >
        onevnet create /var/tmp/vnet_{{ validation.test_vm.vnet_name }}.template
      register: test_network
      failed_when: "test_network.rc != 0"
      when: validation.test_vm.vnet_name not in vnet_names
    
    - name: Delete vnet definition
      file:
        path: /var/tmp/vnet_{{ validation.test_vm.vnet_name }}.template
        state: absent

    - name: Verify test network creation
      set_fact:
        verification_result: "{{ (verification_result | default({})) | combine({'Test network creation' : 'ok'}) }}"
